{{#extends 'base'}}

{{#block 'content'}}

<h1>Product List</h1>

<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Minimum Price</th>
            <th>Stock Price</th>
            <th>Adhoc Price</th>
            <th>Unit of Measurement</th>
            <th>Product Colour</th>
            <th>Create at</th>
            <th>Updated at</th>
            <!-- Add other relevant columns here -->
        </tr>
    </thead>
    <tbody>
        {{#each productRecords}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.productCode}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.minPrice}}</td>
            <td>{{this.stockPrice}}</td>
            <td>{{this.adhocPrice}}</td>
            <td>{{this.uom}}</td>
            <td>{{this.productColour}}</td>
            <td>{{this.created_at}}</td>
            <td>{{this.updated_at}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}
